<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Experience</h2>
                    <h3 class="section-subheading text-muted">
                    <a href="https://www.dropbox.com/s/3tnspu14kkgxtbg/KBalducciResume.pdf?dl=0" target="_blank"><button type="button" class="btn btn-xl"><i class="fa fa-download"></i> Full Resume</button></a></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/umass1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1997-2002</h4>
                                    <h4 class="subheading">University of Massachusetts - Amherst</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I completed my Bachelor's in Early Childhood Education and Spanish. I spent a semester abroad in Seville, Spain. Immediately following graduation, I enrolled in the M.Ed. program for Early Education. I completed the program in 2002. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/concord1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2002-2006</h4>
                                    <h4 class="subheading">Making a difference in the lives of students</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Immediately following graduation I worked as a 1:1 special education aide in a combined grade K/1 classroom in Wellesley, MA. The following year, I moved to the Concord Public Schools District. I spent 3 years in Concord as a Kindergarten and 2nd-grade teacher.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/atx1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2006-2009</h4>
                                    <h4 class="subheading">New city, new job!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Following the 2006 school year, I moved to Austin in search of a warmer climate and an exciting new adventure. I used my educational expertise in my new role as an editor at Houghton Mifflin Harcourt Publishing Company.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/words.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2014</h4>
                                    <h4 class="subheading">Teaching in Texas!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I felt my career as a teacher was not over yet and decided to head back into the classroom. I taught Kindergarten and then Technology Applications at Rowe Lane Elementary. I also served as the campus "Digital Literacy Lead" and pioneered the Computer Science Club. In 2014 I moved to Park Crest Middle School where I taught Video Broadcasting, Technology Applications and Web Design (Basic HTML) courses. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                        <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/TIY2.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015</h4>
                                    <h4 class="subheading">All coding, all the time!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I had always been interested in Technology and building things. This interest grew quickly as I dove more in depth in teaching different technologies. I became extemely interested in learning more about computer programming and how it can open up new doors for students. I enrolled in the Ruby on Rails program at The Iron Yard. I spent 60-80 hours per week for 12 weeks learning Ruby on Rails, HTML, CSS, SASS, GIT, Full-Stack Development, Postgresql, Javascript, TDD, BDD, Agile Methodologies and more. I developed new connections in the tech world and learned an incredible amount.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/love2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015</h4>
                                    <h4 class="subheading">Do what you love!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I love teaching.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Become a
                                    <br>part of
                                    <br>my story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
