<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 txt-center">
                    {% for member in site.people %}
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted"><a href="mailto:{{ member.email }}">katebalducci@gmail.com</a></p>
                        <p class="text-muted"><a href="tel:{{ member.phone }}">512-731-1220</a></p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li><a href="{{ network.url }}" target="_blank"><i class="fa fa-{{ network.title }}"></i></a>
                            {% endfor %}

                        </ul>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-lg-6">
                    <h2 class="section-heading">Kate Balducci</h2>
                    <h3 class="section-subheading text-muted">Experienced teacher with a passion and skill for integrating technology into the curriculum and helping other teachers do the same. I have strong behavior management skills, am extremely organized and provide a calm, structured and fun learning environment. My 9 years of classroom experience have included Kindergarten, Second Grade, K-5 Technology, and Middle School Web Design, Video Broadcasting and Computer Applications. I thrive in the school environment and cherish the relationships I build with students, parents and teachers. Also, I'm a generally awesome person who loves to do cool things in Austin like hike, play volleyball, spend time at Town Lake, do yoga and explore local Paleo eateries. <br />
                    <br />
                    My Philosophy

                    <ul>
                    <lI>Technology is a tool that helps us learn new things, find and evaluate information, share ideas, problem-solve, collaborate and communicate.</li>
                    <li>At the elementary level technology should be integrated into all subjects, but also requires direct instruction so students can use different tech tools effectively. </li>
                    <li>It is important to use technology responsibly. That includes balancing the time spent on technology with physical activity, ensuring that you are not just consuming technology but also using it to create, following cyber safety rules as well as paying attention to your physical self (posture, taking breaks, etc).</li>
                    </ul>
                     </h3>
                </div>
            </div>
        </div>



            <!-- <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div> -->

        </div>
    </section>
