<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 txt-center">
                    {% for member in site.people %}
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted"><a href="mailto:{{ member.email }}">katebalducci@gmail.com</a></p>
                        <p class="text-muted"><a href="tel:{{ member.phone }}">512-731-1220</a></p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li><a href="{{ network.url }}" target="_blank"><i class="fa fa-{{ network.title }}"></i></a>
                            {% endfor %}

                        </ul>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-lg-6">
                    <h2 class="section-heading">Kate Balducci</h2>
                    <h3 class="section-subheading text-muted">I'm a Teacher turned Software Developer! I was introduced to programming at the same time I was introducing it to elementary school students. As we explored it together, my interest in learning programming grew. I've always had a passion for learning new things and decided to pursue this new field in depth by enrolling at The Iron Yard to study Ruby on Rails. Now, I'm excited to embark on the journey of impacting the world through creating software. Also, I'm a generally awesome person who loves to do cool things in Austin like hike, spend time at Town Lake, do yoga and explore local Paleo eateries..</h3>
                </div>
            </div>
        </div>



            <!-- <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div> -->

        </div>
    </section>
